body { 
    background: #DEE7E0;
}

.group { clear:both;}
.planet {
    float:left;
}

.body {
    padding: 4px;
    border: solid 1px #eee;
    border-radius: 4px;
    background: white;
    margin: 4px;
 
    float:left;
}
.biome progress{
    width:100%;
    margin-top:0px;
    margin-bottom:1px;
}
.biome {
    
    float:left;
    width:84px;
    margin:1px;
    padding:0px 1px 1px 1px;
    background-color:#ddddff
}
.biomeHeader {
    height: 5em;
    width:84px;
    clear:both;
    border-bottom: solid 1px;
    color:white;
    background: rgba(32, 64, 200, 1);
    text-align:center;
    display: table-cell;
    vertical-align: middle;
    
}
.sciall{
    display: block;
    padding: 1px 4px;
    text-align: right;
    color: white;
    background: #6FC94C;
    width: 74px;
    border-radius: 2px;
    text-decoration:none;
    margin-left:1px;
    margin-bottom:3px;
    float: left;
    height: 18px;
}
.science {
    display: block;
    padding: 1px 6px;
    text-align: right;
    color: white;
    background: #6FC94C;
    width: 28px;
    border-radius: 2px;
    text-decoration:none;
    margin:1px;
    float: left;
    height: 18px;
}

.science.nope {
    background: transparent;;
}
.science.completed {
    background: black;
}
.science.started {
    background: orange;
}

.pasteSaveBox { clear:both; padding-top:1em;}
